.one,
.two,
.three{
    background-color: #eee;
    padding: 20px;
    text-align: center;
    width: 400px;
    margin: 20px auto
}
.one{
    font-size: 2.5rem;
}
.two{
    font-size: 2rem;
}
.three{
    font-size: 1.5rem;
}

